<template name="form">
  <div>
    <form class="new-entry">
      <table> <!-- TODO: use flexbox instead of table here -->
        <tr>
          <td>
            <input type="text" name="member_1_userId" placeholder="Enter userId" />
          </td>
          <td>
            <input type="number" name="member_1_sum" placeholder="Enter how much paid" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="member_2_userId" placeholder="Enter userId" />
          </td>
          <td>
            <input type="number" name="member_2_sum" placeholder="Enter how much paid" />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="member_3_userId" placeholder="Enter userId" />
          </td>
          <td>
            <input type="number" name="member_3_sum" placeholder="Enter how much paid" />
          </td>
        </tr>
        <button type="submit">Save</button>
      </table>

    </form>
  </div>
</template>
